@import "./vendor/animate.3.5.2.min.css", "./vendor/flexboxgrid.6.3.1.min.css", "./vendor/latofonts.css";

$font-size: 11pt;

$chat-alpha: 0.25;
$chat-checker-alpha: 0.05;

$tint-primary: rgba(213, 5, 183, $chat-alpha);
$tint-secondary: rgba(83, 0, 177, $chat-alpha);
$checker-primary: rgba(128, 128, 128, $chat-checker-alpha);
$input-background: #3c0b6591;
$checker-secondary: transparent;
$checker-size: 25px;
$input-height: 35px;


$window-top: 1.5%;
$window-left: 0.8%;
$window-width: 38%;
$window-height: 22%;
$window-background: none;

/* todo: more game colors */

* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

.no-grow {
    flex-grow: 0;
}

em {
    font-style: normal;
}

#app {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

.chat-box {
    position: absolute;
    top: $window-top;
    left: $window-left;
    width: $window-width;
    height: $window-height;
    background: $window-background;
    max-width: 1000px;

}

.chat-window {
    position: absolute;
    top: 0;
    left: 0;
    bottom: $input-height;
    right: 0;
    
    -webkit-animation-duration: 2s;

    //border: 3px solid rgba(0, 0, 0, 0.158);
    border-radius: 3px;

    background-image:       linear-gradient(45deg, $checker-primary 25%, $checker-secondary 25%), linear-gradient(-45deg, $checker-primary 25%, $checker-secondary 25%), linear-gradient(45deg, $checker-secondary 75%, $checker-primary 75%), linear-gradient(-45deg, $checker-secondary 75%, $checker-primary 75%);
    background-size:        $checker-size $checker-size;
    background-position:    0 0, 0 ($checker-size / 2), ($checker-size / 2) ($checker-size / -2), ($checker-size / -2) 0px;

    .chat-tint {
        width: 100%;
        height: 100%;
        position: relative;
        background: linear-gradient(
            127deg,
            $tint-primary 0%,
            $tint-secondary 100%
        );
    }

    .chat-messages {
        position: relative;
        height: 95%;
        font-size: $font-size;
    
        margin: 0;
        padding: 10px;
    
        overflow-x: hidden;
        overflow-y: hidden;
    }
}


.chat-input {
    font-size: 1.65vh;
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    height: $input-height;

    max-width: 1000px;
    box-sizing: border-box;

    .input {
        
        @import './prefixes.scss';

        position: relative;
        display: flex;
        align-items: stretch;
        width: 100%;
        height: 100%;
        background-color: $input-background;

        textarea {
            width: 100%;
            padding: 8px;
            background: #0000005e;
            border: none;
            color: white;
        }
        
        textarea:focus, &:focus {
            outline: none;
        }
    }
}

.chat-hide-state {
    text-transform: uppercase;
    margin-left: 0.05vw;
    font-size: 1.65vh;
}

.msg {
    margin-bottom: 0.28%;
}

.multiline {
    margin-left: 4%;
    text-indent: -1.2rem;
    white-space: pre-line;
}

.suggestions {
    list-style-type: none;
    padding: 0.5%;
    padding-left: 1.4%;
    font-size: 1.65vh;
    box-sizing: border-box;
    color: white;
    background-color: $input-background;
    width: 100%;
}

.help {
    color: #b0bbbd;
}

.disabled {
    color: #b0bbbd;
}

.suggestion {
    margin-bottom: 0.5%;
}

.hidden {
    opacity: 0;
}

.hidden.animated {
    transition: opacity 1s;
}



.color-0 {
    color: #ffffff;
}
.color-1 {
    color: #ff4444;
}
.color-2 {
    color: #99cc00;
}
.color-3 {
    color: #ffbb33;
}
.color-4 {
    color: #0099cc;
}
.color-5 {
    color: #33b5e5;
}
.color-6 {
    color: #aa66cc;
}
.color-8 {
    color: #cc0000;
}
.color-9 {
    color: #cc0068;
}

.gameColor-w {
    color: #ffffff;
}
.gameColor-r {
    color: #ff4444;
}
.gameColor-g {
    color: #99cc00;
}
.gameColor-y {
    color: #ffbb33;
}
.gameColor-b {
    color: #33b5e5;
}
